/*header {
  background-color: blue;
}

h1 {
  text-align: center;
  font: 60px;
  color: white;
  padding: 40px;
}*/


#container{
  width: 2000px;
  height: 2000px;
  background-image: url('./photos/trippy-background.jpg');
  background-repeat: no-repeat;
  background-size: 2000px 1300px;
}
#row1 {
  display: block;
  width: 100%;
}
#row2{
  margin-left: 385px;
  display: inline-block;
}
#hero {
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 1px solid black;
}
#row3{
  display: inline-block;
}
#row4{
  display: block;
}
#hero{
  background: url(./photos/main-character-project1-transparent.png);
  background-position: -189px;
  /*background-color: black;*/
  border: none;
}
.enemy1n4{
  display: block;
  margin: 0 auto;
}
.enemy2n3{
  display: inline-block;
}

/*enemy img sprite classes*/
.blank{
  background: url(./photos/enemy1-transparent.png);
  background-position: -644px;
}
.enImg1{
  background: url(./photos/enemy1-transparent.png);
  background-position: 1033px;
}
.enImg2{
  background: url(./photos/enemy1-transparent.png);
  background-position: 863px;
}
.explode{
  background: url(./photos/enemy1-transparent.png);
  background-position: 1214px;
}
.upWarning1{
  background: url(./photos/enemy1-transparent.png);
  background-position: 358px;
}
.upWarning2{
  background: url(./photos/enemy1-transparent.png);
  background-position: 185px;
}
.sideWarning1{
  background: url(./photos/enemy1-transparent.png);
  background-position: 674px;
}
.sideWarning2{
  background: url(./photos/enemy1-transparent.png);
  background-position: 517px;
}
.end{
  border: 10px dashed red;
}
.enemy {
  width: 130px;
  height: 130px;
  border-radius: 100px;
  /*border: 1px solid black;*/
}
header{
  display: block;
  text-align: center;

}
