
body{

  width: 2000px;
  height: 1535px;


    background: linear-gradient(68deg, #2abc96, #af3df4, #e9ff5c, #5cffd2);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 31s ease infinite;
    -moz-animation: AnimationName 31s ease infinite;
    animation: AnimationName 31s ease infinite;

    @-webkit-keyframes AnimationName {
      0%{background-position:0% 38%}
      50%{background-position:100% 63%}
      100%{background-position:0% 38%}
    }
    @-moz-keyframes AnimationName {
      0%{background-position:0% 38%}
      50%{background-position:100% 63%}
      100%{background-position:0% 38%}
    }
    @keyframes AnimationName {
      0%{background-position:0% 38%}
      50%{background-position:100% 63%}
      100%{background-position:0% 38%}
    }
}

#row1 {
  display: block;
  width: 100%;
}
#row2{
  margin-left: 385px;
  display: inline-block;
}
#hero {
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 1px solid black;
}
#row3{
  display: inline-block;
}
#row4{
  display: block;
}
#hero{
  background: url(./photos/main-character-project1-transparent.png);
  background-position: -189px;
  border: none;
}
#hover{
  color: white;
  position: absolute;
  display: inline;
  margin-top: 200px;
  margin-left: -654px;
  width: 500px;
  font-size: 30px;

  }
span {
  display: none;
}

div:hover span{
  display: inline;;
}
div:hover p {
  background: black;
}
.enemy1n4{
  display: block;
  margin: 0 auto;
}
.enemy2n3{
  display: inline-block;
}

/*enemy img sprite classes*/
.blank{
  background: url(./photos/enemy1-transparent.png);
  background-position: -644px;
}
.enImg1{
  background: url(./photos/enemy1-transparent.png);
  background-position: 1033px;
}
.enImg2{
  background: url(./photos/enemy1-transparent.png);
  background-position: 863px;
}
.explode{
  background: url(./photos/enemy1-transparent.png);
  background-position: 1214px;
}
.end{
  border: 10px dashed red;
}
.enemy {
  width: 130px;
  height: 130px;
  border-radius: 100px;
  /*border: 1px solid black;*/
}
.block {
  display: inline-block;
  width: 401px;
  height: 270px;
  margin-right: 1%;
  margin-left: 6%;
  text-align: center;
}

header{
  font-family: 'Orbitron', sans-serif;
  background-color: black;
}
h1, h2, h3 {
  color: white;
}
h1 {
  font-size: 90px;
  float: left;
  margin-left: 1%;
}
h2{
  font-size: 50px;
}
h3 {
  font-size: 40px;
}
button{
  font-size: 40px;
  background-color: white;
  border-radius: 10px;
  width: 200px;
}
footer {
  background: black;
  height: 100px;
  width: 2000px;
}
